<config
  language="English"
  masterserverurl="http://www.undertowgames.com/baromaster"
  autocheckupdates="true"
  musicvolume="0.3"
  soundvolume="0.5"
  verboselogging="false"
  savedebugconsolelogs="false"
  submarineautosave="true"
  subeditorundobuffer="32"
  maxautosaves="8"
  subeditorbackground="13,37,69,255"
  enablesplashscreen="true"
  usesteammatchmaking="true"
  quickstartsub="Humpback"
  requiresteamauthentication="true"
  autoupdateworkshopitems="true"
  pauseonfocuslost="true"
  aimassistamount="0.5"
  enablemouselook="true"
  chatopen="true"
  crewmenuopen="true"
  campaigndisclaimershown="false"
  editordisclaimershown="false"
  tutorialskipwarning="true"
  corpsedespawndelay="600"
  corpsespersubdespawnthreshold="5"
  usedualmodesockets="true">
  <graphicsmode
    displaymode="BorderlessWindowed" />
  <audio
    musicvolume="0.3"
    soundvolume="0.5"
    voicechatvolume="0.5"
    voicechatcutoffprevention="0"
    microphonevolume="5"
    muteonfocuslost="false"
    dynamicrangecompressionenabled="true"
    voipattenuationenabled="true"
    usedirectionalvoicechat="true"
    voicesetting="Disabled"
    audiooutputdevice=""
    voicecapturedevice=""
    noisegatethreshold="-45" />
  <graphicssettings
    particlelimit="1500"
    lightmapscale="1"
    chromaticaberration="true"
    losmode="Transparent"
    hudscale="1"
    inventoryscale="1" />
  <contentpackages>
    <core
      name="Vanilla 0.9" />
    {% if get_env(name="ENABLED_MODS", default="") != "" %}
    <regular>
      {% for mod_path in get_env(name="ENABLED_MODS", default="") | split(pat=",") %}
      <package name="{{ mod_path }}" />
      {% endfor %}
    </regular>
    {% else %}
    <regular />
    {% endif %}
  </contentpackages>
  <gameplay>
    <jobpreferences />
  </gameplay>
  <player
    name=""
    headindex="1"
    gender="None"
    race="White"
    hairindex="-1"
    beardindex="-1"
    moustacheindex="-1"
    faceattachmentindex="-1" />
</config>
